html {
    font-size: 15px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}
.button-group1 {
    background-color: green;
    color: indigo;
    display: inline-block;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 32px;
}
.c1 {
    background-color: white;
    border: none;
}
.c2 {
    background-color: white;
    border: none;
}
.c3 {
    background-color: white;
    border: none;
    position: absolute;
    left: 75%;
    top: 2%;
}
.c4 {
    background-color: white;
    border: none;
    position: absolute;
    left: 80%;
    top: 2%;
}
.c5 {
    background-color: whitesmoke;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 8px;
    border: thin;
    color: gray;
    position:absolute;
    transition: .5s ease;
    top: 47%;
    left: 35%;
}
.c5:hover {
    background-color: white;
    color: grey;
}
.c6 {
    background-color: whitesmoke;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 8px;
    border: thin;
    color: gray;
    position:absolute;
    transition: .5s ease;
    top: 47%;
    left: 50%;
}
.c6:hover {
    background-color: rgb(255, 255, 255);
    color: gray;
}
input[type=text] {
    position: absolute;
    left: 22%;
    top: 41%;
    width: 48%;
    padding: 10px 40px;
    border-radius: 20px;
}
#search-icon {
    position: absolute;
    left: 23.5%;
    top: 15.5%;
}
#google-apps {
    position: absolute;
    left: 86%;
    top: -25.5%;
}
.c7 {
    background-color: rgb(4, 142, 255);
    color: white;
    border-color: rgb(4, 142, 255);
    position: absolute; 
    left: 90%;
    padding: 5px 5px;
    font-size: large;
    font-weight: bold;
}